body{
    font-family: 'Times New Roman', serif;
}
.bck{
    width: 102%;
    height: 102%;
    top: -10px;
    left: -10px;
    background: no-repeat url("");
    background-size: cover;
    filter: blur(4px) brightness(0.6);
    z-index: -1;
    position: fixed;
    overflow-y: scroll;
}
.nav{
    width: 100%;
    height: 60px;
}
.container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightblock, .name{
    font-size: 24px;
    margin: 0px 20px;
    margin-bottom: 10px;
}
.rightblock > *{
    margin: 0px 20px;
}
.rightblock a, .name h3{
    text-shadow: 2px 2px 2px black;
}
.nav a{color: white;}
.rightblock a{text-decoration: none;}

.linelink{
    position: relative;
}
.linelink:hover::before{
    transform: scaleX(1);
    transition: all .6s ease;
}
.linelink:before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    left:0;bottom:-5px;
    transform: scaleX(0);
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    right: 15px;
    top: 1px;
}
.switch input {display:none;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 0px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {background-color: #9c9c9c;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(16px);
}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

.features{
    width: 100%;
    height: auto;
}
.maintext, .title, .content{
    color: white;
    text-shadow: 2px 2px 2px black;
}
.maintext{
    text-align: center;
    font-size: 24px;
    margin-top: 70px;
}
.platefield{
    margin-top: 90px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.plate{
    position: relative;
    text-align: center;
    width: 300px;
    height: 440px;
    border: 2px solid white;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    transition: all .6s ease;
}
.platebl{transition: all .6s ease;}
.plate:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 3px white;
}
.platebl:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 3px black;
}
.imageplate img{
    width: 100px;
    height: 100px;
}
.plate .title{font-size: 24;}
.plate .content{font-size: 21;}
.plate .title, .plate .content{
    margin-top: 20px;
}

footer{
    position: relative;
    display: block;
    width: 100%;
    margin-top: 95px;
    height: 100px;
    text-align: center;
}
.githubfield a{color: white;text-decoration: none;}
.githubfield h3{text-shadow: 2px 2px 2px black;}
.githubfield h3:first-child{
    position: relative;
    font-size: 24;
    top: 20px
}
.githubfield h3:last-child{font-size: 16;}

.contacts{
    margin-top: 90px;
    width: 80%;
    height: 485px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.contacts a{
    text-shadow: 2px 2px 2px black;
    color: white;
    text-decoration: none;
    height: 50px;
    font-size: 24px;
    position: relative;
    top: 50px;
    transition: all .6s ease;
}
.contacts h4{
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}
.contacts a:hover{
    transform: scale(1.05);
    text-shadow: 3px 3px 3px black;
}

@media screen and (max-width: 1440px){
    .platefield{
        width: 90%;
    }
}
@media screen and (max-width: 1200px){
    .platefield{
        width: 100%;
        position: relative;
        top: -60px
    }
}
@media screen and (max-width: 1100px){
    .platefield{
        margin-top: 90px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-flow: column wrap;
    }
    .plate{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    footer{
        margin-top: -30px;
    }
}
@media screen and (max-width: 950px){
    .contacts{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: -50px;
    }
    .contacts a{
        width: 100px;
    }
    .contacts a:last-child{
        width: 250px;
    }
    footer{
        margin-top: 100px;
    }
}
@media screen and (max-width: 750px){
    .rightblock > *{
        margin: 0px 10px;
    }
    .rightblock, .name{
        margin: 0px 10px;
    }
    .name{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px){
    .rightblock{
        display: flex;
        flex-flow: column wrap;
        text-align: center;
    }
    .switch{
        top: 85px;
        left: 27px;
    }
}
@media screen and (max-width: 450px){
    .plate{
        width: auto;
        height: auto;
    }
}