{% extends 'layout.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
<div class="features">
    <div class="maintext"><h3>Контакты</h3></div>
    <div class="contacts">
        
        <a href="https://t.me/yxtiblya" target="_blank"><h4>Telegram</h4></a>
        <a href="https://instagram.com/016th?igshid=YmMyMTA2M2Y=" target="_blank"><h4>Instagram</h4></a>
        <a href="https://vk.com/yxtiblya" target="_blank"><h4>Vkontakte</h4></a>
        <a href="https://lolz.guru/members/5338681/" target="_blank"><h4>Lolz</h4></a>
        <a href="contacts"><h4>yxtiblya674@gmail.com</h4></a>
        
    </div>
</div>
<!-- <script src="../static/js/cont.js"></script> -->
{% endblock %}