{% extends 'layout.html' %}

{% block title %}YxTiBlyaWeb{% endblock %}

{% block content %}
<div class="features">
    <div class="maintext">
        <h3>Мои возможности</h3>
    </div>
    <div class="platefield">
        <div class="plate">
            <div class="imageplate"><img src="static/img/python.png"></div>
            <div class="title">Python</div>
            <div class="content">
                Разработка ботов/парсеров и иных программ<br>
                - Работа с популярными библиотеками<br>
                - Подключение всех доступных автоплатежей<br>
                - Деплой продукта на ваш сервер<br><br>
                telethon, bs4, request, selenium, aiogram и т.д.
            </div>
        </div>
        <div class="plate">
            <div class="imageplate"><img src="static/img/sqlandweb.png"></div>
            <div class="title">SQL/Web</div>
            <div class="content">
                Работаю с популярными СУБД: MySQL, PostreSQL, SQLite.<br><br>
                Навык работы с инструментами: HTML, CSS, SCSS <br><br>
                Навык работы с Cookie, JS, JQuery <br><br>
                Возможность работы с фреймворком Django и DRM
            </div>
        </div>
        <div class="plate">
            <div class="imageplate"><img src="static/img/git.png"></div>
            <div class="title">Git/Linux</div>
            <div class="content">
                - Навык работы с системой Git<br><br>
                - Навык работы с серверами Linux<br><br>
                - Навык работы с консолью<br><br>
                - Помощь в выборе и настройке сервера
            </div>
        </div>
    </div>
</div>
{% endblock %}